spring.application.name=TiendaTemplateBackend

# JWT — genera una clave segura de minimo 256 bits
jwt.secret=TU_CLAVE_SECRETA_AQUI
jwt.expiration=86400000

# Base de datos PostgreSQL
spring.datasource.url=jdbc:postgresql://localhost:5433/TiendaTemplate
spring.datasource.username=TU_USUARIO
spring.datasource.password=TU_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver

# Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.globally_quoted_identifiers=true
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

# Logging
logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE



# ================================================================
# APP INFO
# ================================================================
# Nombre de la app (aparece en el asunto y pie del email de recuperacion)
app.name=TiendaTemplate


app.frontend.url=http://localhost:5173


# ================================================================
# CONFIGURACION DE EMAIL (SMTP)
# ================================================================


spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true

